.divRedMainHeader {
    background-color: rgb(37, 116, 190);
    color: #FFF;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 15px;
}

.divRedMainSubHeader {
    background-color: rgb(119, 187, 250);
    color: rgb(0, 0, 0);
    padding-top: 2px;
    padding-bottom: 2px;
}

.divRedLevel-1 {
    background-color: rgb(25, 170, 206);
}

.divRedLevel-2 {
    background-color: rgb(56, 178, 209);
}

.th-center {
    align-content: center;
}

.divRedHighlight1 {
    background-color: rgb(24, 0, 163);
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}